*{
    font-family: 'Roboto', sans-serif;
    margin:0px;
    padding:0px;

}

.flexed {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.circle-button {
    border-radius: 50%;
    width: 40px;
}
.topbar{
    background-color:darkcyan;
    padding:70px;
}

.icon{
    height:30px;
    margin-right: 10px;
}

#user{
    height:100px;
    position: relative;
    bottom: 70px;
    left:50px;
    border: 5px solid black;
    border-radius: 50%;
    box-shadow: 0 0 0 5px white;
}

h1, h2, p{
    font-weight: bold;
    padding:5px;
}
.active{
    font-weight: bolder;
    font-size: 18px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid white;
    width: 100%;
    margin: 0 auto;
}


#title{
    margin: 15px;
} 
.nav-links{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

li{
    margin: 15px;
    display:flex;
}

.bold {
    font-weight: bold;
    font-size: 19px;
}
.grey {
    color: grey;
}

#title{
    font-style: bolder;
    font-size: 32px;
    color: white;
}
.btn{
    background-color: darkcyan;
    width: 90px;
    height: 30px;
    color: white;
    border: 3px solid black;
    box-shadow: 5px 5px black;
    font-size: 17px;
    font-weight: bold;
    margin-left: 250px;
}

a{
    color: white;
    text-decoration: none;
    text-align: right;  
}

.container{
    display:flex;
    width: 1000px;
    padding: 2% 10%;
    margin: auto auto;
    justify-content: center;
    align-items: flex-start;
}
.left-side{
    /* margin:20px; */
    flex:2.5;
    margin-left: 70px
}

.education{
    margin-top: 20px;
}

.user-card{
    border: 1px solid gray;
}

#profile{
    color:blue;
    text-decoration: underline;
}
.content{
    position:relative;
    bottom: 70px;
    left: 20px;
    padding: 15px;
}

.content h1 {
    font-size: 30px;
    font-weight: bold
}
.content h2,
.content p {
    font-size: 22px;
}


.right-side{
    display:flex;
    flex:1;
    flex-direction: column;
    margin-left:20px;
    margin-right: 70px;
}
.connections{
    margin-left:20px;
}


.your-connections{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    
}
.your-connections ul{
    flex-direction: column;
}
.your-connections p{
    margin: 5%;
}
.bordered{
    border: 3px solid gray;
}

.topbar-black{
    background-color: black;
    padding:3px;
    color:white
}

.education-text{
    padding:20px;
}
.oval{
    background-color: gray;
    border-radius: 60%;
    width: 20%;
}

#requests{
    width: 10%;
    border-radius: 50%;
}

.view-more{
    position:relative;
    height: 30px;
    display:flex;
    align-items: center;
    padding:10px;
}
#view-more{
    color: blue;
    text-decoration: underline;
}

li{
    padding:5px;
}

img{
    height:50px;
    border-radius: 50%;
}