*{
    margin: 5px;
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}


#search{
    border-radius: 80px;
    width: 150px;
    background-color: white;
    color: cyan;
    border: solid 2px cyan;
}

#plus{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color:cyan;
    color: white;
    font-size: 25px;
    border: solid 2px white;
}

#createAccount{
    border-style: solid black;
    background-color:dodgerblue;
    box-shadow: 5px 3px 3px black;
    width: 200px;
    height: 30px;
    color: white;
}