/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* flexed class to reuse on elements that will be flexed */
.flexed {
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap: 1.5em;
}

/* column with gap */
.column {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* Button */
.btn{
    border-style: solid black;
    background-color:dodgerblue;
    box-shadow: 5px 3px 3px black;
    width: 200px;
    height: 30px;
    color: white;
}